{% extends 'FrontPanel/base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
   body {

     font-family : Lucida, sans-serif;
    }
</style>

        <main>
            <div class="container" style="margin-bottom:30rem;margin-top: 150px;">
                <div class="card text-center py-5">
                    <div class="card-body">
                        <h3>Nous vous avons envoyé un lient d'activation, Veuillez verifier votre compte Email.</h3>
                        <a href="{% url 'app_parts:homView' %}" class="btn btn-primary float-right">Se connecter</a>    

                    </div>
                </div>
            </div>
        </main>

{% endblock content %}