{% load static %}

{% block content %}

<header>
   <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
      <div class="container">

        <!-- Brand -->
        <a class="navbar-brand" href="/" >
          <strong>Auto Parts</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Left -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Accueil
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Catalogue</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">A propos</a>
            </li>
          </ul>

          <!-- Right -->
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
              <a href="#" class="nav-link" >
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link" >
                <i class="fab fa-twitter"></i>
              </a>
            </li>

            {% if not user.is_authenticated %}
            <li class="nav-item">
              <a href="{% url 'login' %}" class="nav-link border border-light rounded">
                <i class="fas fa-user mr-2"></i>CONNEXION
              </a>
              
            </li>

            <li class="naw-item">
              <a href="{% url 'app_parts:inscription' %}" class="nav-link text-white">Inscription</a>
            </li>

            {% else %}
            <li class="nav-item">
              <a href="{% url 'app_parts:user_profile' %}" class="nav-link border border-light rounded">
                <i class="fas fa-user mr-2"></i>MON PROFILE
              </a> 
              
            </li>
            <li class="nav-item">
              <a href="{% url 'logout' %}" class="nav-link" >
                Se déconnceter
              </a>       
            </li>

            {% endif %}
          </ul>

        </div>

      </div>
    </nav>
    <!-- Navbar -->

 



{% endblock content %}