{% extends 'FrontPanel/base.html' %}
{% load static %}

{% block content %}

        <main>
            <div class="container" style="margin-bottom:30rem;">
                <div class="card text-center py-5">
                    <div class="card-body">
                        <h3>Acctivation résussite, vous pouvez désormai accéder a votre compte</h3>
                        <a href="/" class="btn btn-primary float-rigth" type="submit" >Acceder</a>
                    </div>
                </div>
            </div>
        </main>

{% endblock content %}